.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    border: 1px solid #ddd;
    padding: 10px;
}

.form__button {
    background-color: teal;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    transition: 0.75s;
}

.form__button:hover {
    background-color: #009999;
    transform: scale(1.1);
}

.form__button:active {
    background-color: #00b3b3;
}