.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu__button {
    border: none;
    background-color: transparent;
    color: teal;
    margin: 0 0 0 20px;
    transition: 0.5s;
    cursor: pointer;
}

@media (max-width: 767px) {
    .menu__button {
        flex-basis: 100%;
        margin: 10px;
    }
}


.menu__button:hover {
    color: #009999;
}

.menu__button:active {
    color: #00b3b3;
}

.menu__button:disabled {
    color: #ccc;
}